<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../assets/images/Circle-soft-image.png" type="image/x-icon">
    <title>Razinsoft-Dashbord</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="mlapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header" id="appContent">
        <div class="app-header header-shadow">
            <div class="app-header-logo"></div>
            <div class="app-header-mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header-menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header-content">
                <div class="app-header-left">
                    <div class="header-pane ">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="nabvarTop_profile" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="btn-group">
                                        <a class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="../assets/images/avatars/9.jpg"
                                                alt="">
                                        </a>
                                    </div>
                                    <div class="ms-2 header-user-info profile-info">
                                        <div class="widget-heading">
                                            Razinsoft
                                        </div>
                                        <i class="fa-solid fa-angle-down"></i>
                                    </div>
                                </div>

                                <div tabindex="-1" role="menu" aria-hidden="true"
                                    class="dropdown-menu dropdown-menu-right profile-item">

                                    <a href="#" tabindex="0" class="dropdown-item"><i class="fa-solid fa-user mr-2"></i>
                                        User
                                        Account
                                    </a>
                                    <a href="#" tabindex="0" class="dropdown-item"><i
                                            class="fa-solid fa-gear mr-2"></i>Settings</a>
                                    <a href="#" tabindex="0" class="dropdown-item"><i
                                            class="fa-solid fa-gear mr-2"></i>Profile</a>
                                    <a href="#" tabindex="0" class="dropdown-item"><i
                                            class="fa-solid fa-key mr-2"></i>Change Password</a>
                                    <a href="#" tabindex="0" class="dropdown-item"><i
                                            class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui-theme-settings">
            <button type="button" id="TooltipDemo" class="btn-open-options btn ">
                <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
            </button>
            <div class="theme-settings-inner">
                <div class="scrollbar-container">
                    <div class="theme-settings-options-wrapper">
                        <h3 class="themeoptions-heading">Theme Customizer</h3>
                        <div class="p-3">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="themeoptions-heading mb-3 borderCercle d-flex justify-content-between">
                                        <div>
                                            Mode
                                        </div>
                                        <button type="button" id="resetModeBtn"
                                            class="btn btn-outline-dark btn-sm ressetButton">
                                            Restore Default
                                        </button>
                                    </div>
                                    <div class="theme-box">
                                        <div class="change-mode " id="defoltChangeMode"
                                            onclick="setThemeMode('app-theme-white')">
                                            <div class="change-mode-icon">
                                                <img src="../assets/images/icon/light-icon.svg" alt="">
                                            </div>
                                            <span class="mode-name">Light</span>
                                            <div class="chack-icon">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="change-mode" onclick="setThemeMode('app-theme-dark')"
                                            id="themeDark">
                                            <div class="change-mode-icon">
                                                <img src="../assets/images/icon/Dark.svg" alt="">
                                            </div>
                                            <span class="mode-name">Dark</span>
                                            <div class="chack-icon">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="change-mode" onclick="setThemeMode('app-theme-gradien')"
                                            id="themeGradien">
                                            <div class="change-mode-icon">
                                                <img src="../assets/images/icon/Gradient-icon.png" alt="">
                                            </div>
                                            <span class="mode-name">Gradien</span>
                                            <div class="chack-icon">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-3 teameTa">Choose Color Scheme
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div class="theme-box">
                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="colorDefault" data-class="" onclick="storeColorScheme('')">
                                                <div class="theme-color-holder-color bg-light"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-primary"
                                                data-class="bg-primary header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-primary')">
                                                <div class="theme-color-holder-color bg-primary"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-midnight-bloom"
                                                data-class="bg-midnight-bloom header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-midnight-bloom')">
                                                <div class="theme-color-holder-color bg-midnight-bloom"></div>
                                            </div>


                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-amy-crisp"
                                                data-class="bg-amy-crisp header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-amy-crisp')">
                                                <div class="theme-color-holder-color bg-amy-crisp"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-plum-plate"
                                                data-class="bg-plum-plate header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-plum-plate')">
                                                <div class="theme-color-holder-color bg-plum-plate"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-slick-carbon"
                                                data-class="bg-slick-carbon header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-slick-carbon')">
                                                <div class="theme-color-holder-color bg-slick-carbon"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-arielle-smile"
                                                data-class="bg-arielle-smile header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-arielle-smile')">
                                                <div class="theme-color-holder-color bg-arielle-smile"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-alternate"
                                                data-class="bg-alternate header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-alternate')">
                                                <div class="theme-color-holder-color bg-alternate"></div>
                                            </div>


                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-grow-early"
                                                data-class="bg-grow-early header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-grow-early')">
                                                <div class="theme-color-holder-color bg-grow-early"></div>
                                            </div>

                                            <div class="theme-color-holder switch-header-cs-class switch-sidebar-cs-class"
                                                id="bg-love-kiss"
                                                data-class="bg-love-kiss header-text-light sidebar-text-light"
                                                onclick="storeColorScheme('bg-love-kiss')">
                                                <div class="theme-color-holder-color bg-love-kiss"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="themeoptions-heading mt-3 borderCercle d-flex justify-content-between">
                                        <div>Sidebar Options</div>
                                        <button type="button" class="btn btn-outline-dark btn-sm ressetButton
                                        switch-header-cs-class switch-sidebar-cs-class" data-class="" id="resetColor">
                                            Restore Default
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="switch has-switch switch-container-class"
                                                data-class="fixed-footer">
                                                <input type="checkbox" data-toggle="toggle" id="footerCheck"
                                                    data-onstyle="success" onclick="toggleFooter()">
                                            </div>
                                            <div class="widget-content-left ms-3">
                                                <div class="widget-heading">Fixed Footer</div>
                                                <div class="widget-subheading">Makes the app footer bottom fixed, always
                                                    visible!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <!-- ========Sidebar-Menu-Section========= -->
            <div class="app-sidebar sidebar-shadow">
                <div class="scrollbar-sidebar pb-3">
                    <div class="branding-logo">
                        <img src="../assets/images/razinsoft-final-logo.png" alt="">
                    </div>
                    <div class="branding-logo-forMobile">
                        <img src="../assets/images/R_mini-logo.png" alt="">
                    </div>
                    <div class="app-sidebar-inner">
                        <div class="nabvarTop_profile py-4">
                            <div class="btn-group">
                                <a class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="../assets/images/avatars/9.jpg" alt="">
                                </a>
                            </div>
                            <div class="ms-2 header-user-info sidebar-text-light">
                                <div class="widget-heading ">
                                    Razinsoft
                                </div>
                                <div class="widget-subheading">
                                    razinsoftltd@gmail.com
                                </div>
                            </div>
                        </div>
                        <ul class="vertical-nav-menu">
                            <li>
                                <a href="../index.html" class="">
                                    <i class="fa-solid fa-gauge menu-icon"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li>
                                <a href="#" class="">
                                    <i class="fa-solid fa-gem menu-icon"></i>
                                    Elements
                                    <i class="fa fa-angle-down menu-state-icon"></i>
                                </a>
                                <ul>

                                    <li class="sub-menu">
                                        <a href="../elements/buttons-standard.html">
                                            <i class="fa-solid fa-toggle-off mr-1"></i>
                                            Buttons
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/dropdowns.html">
                                            <i class="fa-regular fa-square-caret-down mr-1"></i>
                                            Dropdowns
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/badges-labels.html">
                                            <i class="fa-regular fa-id-badge mr-1"></i>
                                            </i> Badges
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/cards.html">
                                            <i class="fa-solid fa-credit-card mr-1"></i>
                                            Cards
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/list-group.html">
                                            <i class="fa-solid fa-users-rays mr-1"></i>
                                            List Groups
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/navigation.html">
                                            <i class="fa-solid fa-bars mr-1"></i>
                                            Navigation Menus
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="../elements/utilities.html">
                                            <i class="fa-solid fa-wrench mr-1"></i>
                                            Utilities
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="mm-active">
                                    <i class="fa-brands fa-dropbox menu-icon"></i>
                                    Components
                                    <i class="fa fa-angle-down menu-state-icon"></i>
                                </a>
                                <ul>

                                    <li class="sub-menu">
                                        <a href="tabs.html">
                                            <i class="fa-solid fa-copy mr-1"></i>
                                            Tabs
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="accordions.html">
                                            <i class="fa-solid fa-border-none mr-1"></i>
                                            Accordions
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="notifications.html">
                                            <i class="fa-regular fa-bell mr-1"></i>
                                            Notifications
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="sweetalert2.html">
                                            <i class="fa-solid fa-exclamation mr-1"></i>
                                            Sweet Alert-2
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="modals.html">
                                            <i class="fa-solid fa-object-ungroup mr-1"></i>
                                            Modals
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="progress-bar.html">
                                            <i class="fa-solid fa-bars-progress mr-1"></i>
                                            Progress Bar
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="tooltips-popovers.html">
                                            <i class="fa-solid fa-screwdriver-wrench mr-1"></i>
                                            Tooltips & Popovers
                                        </a>
                                    </li>
                                    <li class="sub-menu mm-active">
                                        <a href="carousel.html">
                                            <i class="fa-solid fa-photo-film mr-1"></i>
                                            Carousel
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="calendar.html">
                                            <i class="fa-regular fa-calendar mr-1"></i>
                                            Calendar
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="pagination.html">
                                            <i class="fa-solid fa-left-right mr-1"></i>
                                            Pagination
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="scrollable-elements.html">
                                            <i class="fa-solid fa-scroll mr-1"></i>
                                            Scrollable
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="maps.html">
                                            <i class="fa-solid fa-location-dot mr-1"></i>
                                            Maps
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="../tables-regular.html">
                                    <i class="fa-solid fa-table menu-icon"></i>
                                    Tables
                                </a>
                            <li>
                            <li>
                                <a href="../forms-controls.html">
                                    <i class="fa-solid fa-computer-mouse menu-icon"></i>
                                    Forml Controls
                                </a>
                            <li>
                            <li>
                                <a href="../forms-layouts.html">
                                    <i class="fa-solid fa-pen menu-icon"></i>
                                    Form layouts
                                </a>
                            <li>
                            <li>
                                <a href="../forms-validation.html">
                                    <i class="fa-brands fa-usb menu-icon"></i>
                                    Form Validation
                                </a>
                            <li>
                            <li>
                                <a href="../charts-chartjs.html">
                                    <i class="fa-solid fa-chart-gantt menu-icon"></i>
                                    Chart JS
                                </a>
                            <li>

                            <li>
                                <a href="../dashboard-boxes.html">
                                    <i class="fa-solid fa-gauge-high menu-icon"></i>
                                    Dashbord Boxes
                                </a>
                            <li>
                            <li>
                                <a href="../login.html">
                                    <i class="fas fa-sign-out-alt menu-icon"></i>
                                    Logout
                                </a>
                            </li>

                        </ul>

                        <div class="sideBarfooter">
                            <a href="" class="fullbtn"><i class="fa-solid fa-gear"></i></a>
                            <button type="button" class="fullbtn" onclick="toggleFullScreen(document.body)"><i
                                    class="fa-solid fa-expand"></i></button>
                            <button class="fullbtn"><i class="fa-solid fa-eye-slash"></i></button>
                            <button class="fullbtn"><i class="fa-solid fa-power-off"></i></button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ****Body-Section***** -->
            <div class="app-main-outer">
                <div class="app-main-inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fa-solid fa-photo-film"></i>
                                </div>
                                <div>Carousels &amp; Slideshows
                                    <div class="page-title-subheading">Create easy and beautiful slideshows with these
                                        React components.
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <button type="button" data-toggle="tooltip" title="Example Tooltip"
                                    data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                                    <i class="fa fa-star"></i>
                                </button>
                                <div class="d-inline-block dropdown">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-business-time fa-w-20"></i>
                                        </span>
                                        Buttons
                                    </button>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-right">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a href="javascript:void(0);" class="nav-link">
                                                    <i class="nav-link-icon lnr-inbox"></i>
                                                    <span>
                                                        Inbox
                                                    </span>
                                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="javascript:void(0);" class="nav-link">
                                                    <i class="nav-link-icon lnr-book"></i>
                                                    <span>
                                                        Book
                                                    </span>
                                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="javascript:void(0);" class="nav-link">
                                                    <i class="nav-link-icon lnr-picture"></i>
                                                    <span>
                                                        Picture
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                    <i class="nav-link-icon lnr-file-empty"></i>
                                                    <span>
                                                        File Disabled
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Basic Bootstrap-5 Carousel</h5>
                                    <div id="carouselExample" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="https://via.placeholder.com/800x400" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://via.placeholder.com/800x400" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://via.placeholder.com/800x400" class="d-block w-100"
                                                    alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Carousel with Captions</h5>
                                    <div id="carouselExampleIndicators" class="carousel slide">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="../assets/images/CardImage/programing.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/World-code.png"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/OparitingSystem.png"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Carousel Captions </h5>
                                    <div id="carouselExampleCaptions" class="carousel slide">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="../assets/images/CardImage/World-code.png"
                                                    class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>First slide label</h5>
                                                    <p>Some representative placeholder content for the first slide.</p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/OparitingSystem.png"
                                                    class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Second slide label</h5>
                                                    <p>Some representative placeholder content for the second slide.</p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/programing.jpg"
                                                    class="d-block w-100" alt="...">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Third slide label</h5>
                                                    <p>Some representative placeholder content for the third slide.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">Autoplaying carousels</h5>
                                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="../assets/images/CardImage/OparitingSystem.png"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/programing.jpg"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="../assets/images/CardImage/World-code.png"
                                                    class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ****Body-Section***** -->

                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer-inner">
                            <div>
                                © 2023 Developed by <a class="footercom" href="https://razinsoft.com/" target="blank"
                                    style="color:#4e06fe; font-weight: bold;">Razinsoft.</a>
                            </div>
                            <div class="d-none d-sm-block">
                                <i class="fa-solid fa-phone"></i>
                                <span> +8801714231625</span>
                            </div>
                            <div class="d-none d-sm-block">
                                <i class="fa-solid fa-envelope mr-1"></i>
                                <span>razinsoftltd@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/scripts/jquery-3.6.3.min.js"></script>
    <script src="../assets/scripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/font-awesome.min.js"></script>
    <script src="../assets/scripts/full-screen.js"></script>
    <script src="../assets/scripts/scripts.js"></script>

</body>

</html>